/* .container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    height: fit-content;
    /* width: 500px; */
    /* margin-top: 30px;
  } */
  
  /* .title-div,
  .artist-dev,
  .url-dev,
  .lyrics-dev {
    margin-bottom: 15px;
  }
  
  .title-div p,
  .artist-dev p,
  .url-dev p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  } */ */
  
  /* .lyrics {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .Download,
  .ab {
    display: flex;
    justify-content: space-between;
  }
  
  .edit {
    width: 80px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .save {
    margin-top: 20px;
  }
  .articalbanner{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
  }
  .article-banner{
    width: 100px;
    height: 100px; */
  /* } */


  .container {
    margin: 20px;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  .article-banner {
    width: 50px;
    height: 50px;
  }
  
  .article-details {
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 5px;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #f2f2f2;
  } */
  